<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生成绩</title>
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
        .top {
            border: #797979;
            background-color: #C5CFC4;
            display: flex;
            align-items: center;
        }

        .logo {
            width: 50px;
            height: 50px;
            margin: auto;
        }

        .title {
            display: flex;
            align-items: center;
        }

        h3 {
            margin: auto;
            margin-left: 20px;
            color: #797979;
        }

        .el-menu .el-menu-item:hover {
            outline: 0 !important;
            color: #fff !important;
            background: #899C88 !important;
        }

        .el-menu .el-menu-item.is-active {
            color: #fff !important;
            background: #899C88 !important;
        }

        .blank {
            position: relative;
            width: 78%;
        }

        .self {
            display: flex;
            align-items: center;
        }

        .avatar {
            border-radius: 50%;
            height: 50px;
            margin: 10px;
        }

        .name {
            color: #797979;
        }

        .message {
            width: 20px;
            margin: auto;
            margin-left: 15px;
        }

        .left {
            width: 233px !important;
            background-color: #E6E6E6;
        }

        .updatebar {
            margin: 15px;
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #FFFFFF;
            border: #797979;
            border-radius: 5px;
        }

        .query {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
        }

        .el-select {
            width: 150px;
            margin-right: 20px;
        }

        .keywordQuery {
            display: flex;
        }

        .el-button--success {
            border-color: #899C88 !important;
            background: #899C88 !important;
        }

            .el-button--success:hover {
                background: #899C88 !important;
                border-color: #899C88 !important;
                color: #FFF !important;
                opacity: 0.8;
            }

        .el-main {
            background-color: #F2F2F2;
        }

        .el-card {
            margin: 15px;
            padding-left: 20px;
        }
    </style>
</head>

<body>
    <div id="tugradeDetailPage">
        <el-container class="container">
            <el-header class="top" height="70px">
                <div class="title" width="250px">
                    <img src="./file/logo.png" class="logo">
                    <h3>掌上综测</h3>
                </div>
                <div class="blank"></div>
                <div class="self">
                    <a v-bind:href="['stu_selfinfo.html?account='+tutor.userId]">
                        <img src="./file/photo.jpg" alt="photo" class="avatar">
                    </a>
                    <p class="name">{{user.name}}</p>
                    <a v-bind:href="['tutor_message.html?account='+user.userId]">
                        <img :src="ImageSrc" alt="message" class="message">
                    </a>
                </div>
            </el-header>
            <el-container>
                <el-aside class="left">
                    <el-row>
                        <el-col>
                            <el-menu default-active="1"
                                     class="el-menu-vertical-demo"
                                     background-color="#E6E6E6"
                                     active-text-color="#fff">
                                <el-menu-item index="1" @click="routeTo('tutor_stugrade')">
                                    <span slot="title">学生成绩</span>
                                </el-menu-item>
                                <el-menu-item index="2" @click="routeTo('tutor_extrabenefits')">
                                    <span slot="title">加分申请</span>
                                </el-menu-item>
                                <el-menu-item index="3" @click="routeTo('tutor_comeva')">
                                    <span slot="title">综测管理</span>
                                </el-menu-item>
                                <el-menu-item index="4" @click="routeTo('tutor_selfinfo')">
                                    <span slot="title">个人信息</span>
                                </el-menu-item>
                            </el-menu>
                        </el-col>
                    </el-row>
                </el-aside>
                <el-main>
                    <div class="updatebar">
                        <h1>个人成绩</h1>
                        <el-button type="success"
                                   size="mini"
                                   @click="update"
                                   class="updatebtn">
                            刷新
                        </el-button>
                    </div>
                    <el-card class="markDetail">

                        <div class="query">
                            <div class="classType">
                                <span style="margin-right:10px">课程类型 </span>
                                <el-select v-model="query.classType" placeholder="请选择">
                                    <el-option v-for="item in classTypeOpt"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="grade">
                                <span style="margin-right:10px">年级 </span>
                                <el-select v-model="query.grade" placeholder="请选择">
                                    <el-option v-for="item in gradeOpt"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="semester">
                                <span style="margin-right:10px">学期 </span>
                                <el-select v-model="query.semester" placeholder="请选择">
                                    <el-option v-for="item in semesterOpt"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="keywordQuery">
                                <el-input v-model="query.input" placeholder="请输入内容" style="width:250px;margin-right:5px;margin-left:5px;"></el-input>
                            </div>
                            <el-button type="success"
                                       size="mini"
                                       @click="routeBack('tutor_classgrade')">
                                返回
                            </el-button>
                        </div>
                        <el-table :data="markData"
                                  style="width: 100%">
                            <el-table-column type="index"
                                             label="序号">
                            </el-table-column>
                            <el-table-column prop="courseName"
                                             label="课程名称"
                                             width="180">
                            </el-table-column>
                            <el-table-column prop="courseType"
                                             label="课程类型"
                                             width="180">
                            </el-table-column>
                            <el-table-column prop="coursePoint"
                                             label="课程学分">
                            </el-table-column>
                            <el-table-column prop="stuMark"
                                             label="学科成绩">
                            </el-table-column>
                            <el-table-column prop="stuGradePoint"
                                             label="学科绩点">
                            </el-table-column>
                            <el-table-column prop="grade"
                                             label="修读年级">
                            </el-table-column>
                            <el-table-column prop="semester"
                                             label="修读学期">
                            </el-table-column>
                            <el-table-column prop="isRetook"
                                             label="备注信息">
                                <template scope="scope">
                                    <p v-if="scope.row.isRetook == true">重修</p>
                                    <p v-else>暂无</p>
                                </template>
                            </el-table-column>
                        </el-table>
                        <!--分页器-->
                        <br />
                        <el-pagination class="projectPagePagination"
                                       style="float: right; margin-top: 20px"
                                       :hide-on-single-page="true"
                                       :page-size="10"
                                       :page-count="totalMarkPages"
                                       :current-page="currentMarkPage"
                                       @current-change="getStuMarkList"
                                       layout="prev, pager, next" />
                        <br /><br />
                    </el-card>
                </el-main>
            </el-container>
    </div>
</body>
<script>
    var vue = new Vue({
        el: '#tugradeDetailPage',
        data: {
            tutor: {},
            stuId: "",
            account: "",
            user: {},
            markData: [],
            ImageSrc: "./file/checked_message.png",
            query: {
                classType: 'all',
                grade: 'all',
                semester: 'all',
                input: ""
            },
            classTypeOpt: [
                {
                    value: 'all',
                    label: '全部'
                },
                {
                    value: '公共基础课',
                    label: '公共基础课'
                },
                {
                    value: '专业必修课',
                    label: '专业必修课'
                },
                {
                    value: '专业选修课',
                    label: '专业选修课'
                },
                {
                    value: '通识教育课',
                    label: '通识教育课'
                }
            ],
            gradeOpt: [
                {
                    value: 'all',
                    label: '全部'
                },
                {
                    value: '2021-2022学年',
                    label: '2021-2022学年'
                },
                {
                    value: '2022-2023学年',
                    label: '2022-2023学年'
                },
                {
                    value: '2023-2024学年',
                    label: '2023-2024学年'
                },
                {
                    value: '2024-2025学年',
                    label: '2024-2025学年'
                }
            ],
            semesterOpt: [
                {
                    value: 'all',
                    label: '全部'
                },
                {
                    value: '上学期',
                    label: '上学期'
                },
                {
                    value: '下学期',
                    label: '下学期'
                },
                {
                    value: '第三学期',
                    label: '第三学期'
                }
            ],
            backinfo: {
                grade: "",
                major: "",
                cclass: ""
            }
        },
        watch: {
            query: {
                handler() {
                    this.getMarks();
                },
                immediate: true,
                deep: true
            },
        },
        methods: {
            //导航栏相关跳转，需要复制
            routeTo: function (path) {
                this.initialCreate();
                var fullpath = path + ".html?account=" + this.tutor.userId;
                window.location.href = fullpath;
            },
            routeBack: function (path) {
                this.initialCreate();
                var fullpath = path + ".html?account=" + this.tutor.userId + "&grade=" + this.backinfo.grade + "&major=" + this.backinfo.major + "&cclass=" + this.backinfo.cclass;
                window.location.href = fullpath;
            },
            initialCreate: function () {
                var url = decodeURIComponent(window.location.search);
                //var url = location.search
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                    }
                }
                this.tutor = { userId: theRequest.account };
                this.stuId = theRequest.stuId;
                this.backinfo.grade = theRequest.grade;
                this.backinfo.major = theRequest.major;
                this.backinfo.cclass = theRequest.cclass;
            },
            getParams: function () {
                this.initialCreate();
                vue.getInfo(this.tutor.userId);
                vue.getUser(this.tutor.userId);
                this.getMarks();
                vue.IsChecked(this.tutor.userId);
            },
            getInfo: function (account) {
                var path = '/api/User/tutor';
                if (account != null) path = path + '?id=' + account;
                axios.get(path)
                    .then(response => this.tutor = response.data)
                    .catch(e => this.$message.error(e.response.data))

            },
            getUser: function (account) {
                var path = '/api/User/' + account
                axios.get(path)
                    .then(response => this.user = response.data)
                    .catch(e => this.$message.error(e.response.data))
            },
            getMarks: function () {
                var path = '/api/StudentCourseMark/getGrades';
                var userId = this.stuId;
                var courseType = this.query.classType;
                var grade = this.query.grade;
                var semester = this.query.semester;
                var input = this.query.input;

                path += '?userId=' + userId + '&grade=' + grade + '&semester=' + semester + '&classType=' + courseType + '&input=' + input

                axios.get(path)
                    .then(response => {
                        // 请求成功的处理逻辑
                        console.log("1111", response);
                        this.markData = response.data;
                    })
                    .catch(error => {
                        // 请求失败的处理逻辑
                        console.error(error);
                    });
            },
            IsChecked: function (account) {
                var path = '/api/Message/checked?id=' + account
                axios.get(path)
                    .then(response => vue.changeImage(response.data))
                    .catch(e => this.$message.error(e.response.data))


            },
            changeImage: function (b) {
                if (b == false) {
                    this.ImageSrc = "./file/unchecked_message.png"
                }
            }
        }
    });
    vue.getParams();
</script>
</html>
