<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
  
    <style>
        .stu_mark{
            left:0px;
            top:80px;
            width:241px;
            height:50px;
        }
        .center{
            position: absolute;
            left:241px;
            top:79px;
            width:1250px;
            height:1668px;
            background-color:#F2F2F2;
        } 
       .center_top{
        position: absolute;
        left:10px;
        top:10px;
        width:1250px;
        height:52px;
        background-color: #FFFFFF;
        border: #797979;
        border-radius: 5px;
       }
       .center_middle{
        position: absolute;
        left:10px;
        top:100px;
        width: 1250px;
        height:600px;
        background-color: #fff;
        border-radius: 5px;
       
       }
       .query{
        position: absolute;
        left: 20px;
        top: 50px;

       }
       .buttons{
        position: absolute;
        left:0px;
        top:100px;
       }
       .table{
        position: absolute;
        left:0px;
        top:150px;
       
       }
       .info-left{
        position: absolute;
        left:250px;
        top:80px;
       
       }
       .info-right{
        position: absolute;
        left:500px;
        top:80px;
       }
        a {
        text-decoration: none;
        }
       
        div.stu_mark:hover{
        background-color: #899C88;
        }
        .btn {
        transform: scale(1);
        }
 
        .btn:active {
            transform: scale(0.97);
        }
        /* .el-table{
            border-radius: 0 0 10px 10px;
            border-top:1px solid #DEDEDE;
            border-left:1px solid #DEDEDE;
            border-bottom:1px solid #DEDEDE;
        } */
       
         .dialog{
            position: absolute;
            left:800px;
            width: 1000px;
            height:300px;
            top:200px;
        } 
       
       



		</style>




      
   </style>
</head>
<body>
    <div id="stubenefitPage">
        <div class="top" style="position:absolute;border:#797979;left:0px;top:0px;width:1503px;height: 78px;background-color:#C5CFC4">
            <div class="logo" style="position: absolute;left:0px;top: 0px;width: 241px;height: 78px;">
                <img src="./file/whu.png" alt="whu" style="position: absolute;width: 53px;height: 50px;left:21px;top: 15px;">
                <h1 style="font-size:20px;position: absolute;left: 88px;top: 20px;width: 112px;height: 30px;color: #797979;">掌上综测</h1>
            </div>
            <div class="self" style="position: absolute;left:1233px;top:0px;width: 176px;height:78px;">
                <a v-bind:href="['stu_selfinfo.html?account='+user.userId]">
                    <img src="./file/photo.jpg" alt="photo" style="position:absolute;border-radius: 50%;width: 50px;height:50px;left:1264;top:15px;">
                </a>
               <p style="font-size: 14px;color:#797979;position: absolute;left: 70px;top:15px;width: 81px;height: 13px;">{{user.name}}</p>
               <a href="stu_message.html">
                    <img src="./file/message.png" alt="message" style="position:absolute;width: 38px;height: 30px;left:150px;top:24px;" >
               </a>
            </div>
        </div>
        <div class="left" style="position: absolute;width: 241px;height:1668px;left:0px;top:78px;background-color: #E6E6E6;">
            <a href="stu_mark.html" style="color:inherit">
                <div class="stu_mark" style="font-size: 18px;text-align: center;line-height: 50px;">
                  成绩信息
                </div>
            </a>
            <a v-bind:href="['stu_extrabenefit.html?account='+user.userId]" style="color:inherit">
                <div class="stu_mark" style="font-size: 18px;text-align: center;line-height: 50px;">
                  我的加分
                </div>
            </a>
            <a href="stu_eva.html" style="color:inherit">
                <div class="stu_mark" style="font-size: 18px;text-align: center;line-height: 50px;">
                  综测管理
                </div>
            </a>
            <a v-bind:href="['stu_selfinfo.html?account='+user.userId]" style="color:inherit" >
                <div class="stu_mark" style="font-size: 18px;text-align: center;line-height: 50px;">
                 个人信息
                </div>
            </a>

        </div>
        <div class="center">
            <div class="center_top">
                <button class="btn" @click="getParams" onclick="javascript:location.reload()" style="position: absolute;left: 1000px;top:10px;width: 40px;height:34px;background-color: #899C88;border: #797979;color: #fff;border-radius: 5px;">
                    刷新</button>
                这是一个/面包屑/导航栏
               
            </div>
            <div class="center_middle">
                <div class="query">
                    加分类型：
                    <select v-model="type" name="types" id="types" style="position: absolute;top:-10px;width: 309px;height: 35px;border-radius: 5px;">
                        <option value="all">全部</option>
                        <option value="C1">发表学术论文及文学、艺术、新闻等作品(C1)</option>
                        <option value="C2">科技发明与大学生科研(C2)</option>
                        <option value="C3">学科竞赛与文体竞赛(C3)</option>
                        <option value="C4">社会活动与社会时间(C4)</option>
                        <option value="C5">资格认证及创业(C5)</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    状态：
                    <select v-model="status" name="status" id="status" style="position: absolute;width: 143px;height: 35px;left:500px;top:-10px;border-radius: 5px;">
                        <option value="all">所有</option>
                        <option value="待审核">待审核</option>
                        <option value="已通过">已通过</option>
                        <option value="已驳回">已驳回</option>
                        <option value="已取消">已取消</option>
                    </select>
                    
                    <button class="btn" @click="queryBenefits" style="position: absolute;left:1100px;top:-10px;width: 67px;height: 35px;background-color: #899C88;color: #E6E6E6;border-radius: 5px;border: #C5CFC4;">查询</button>
                    <input type="text"  v-model="theme" name="theme" id="theme" placeholder="请输入需查询主题" style="position: absolute;width: 300px;height: 35px;left:700px;top:-10px;border-radius: 5px;">
                </div>
                <div class="buttons">
                    <button class="btn" @click="jump_rules" style="position:absolute;left:20px;width: 174px;height: 35px;background-color: #C5CFC4;border: #899C88;border-radius: 5px;">查看详细申请加分规则</button>
                    <button class="btn" @click="showEdit" style="position: absolute;left:220px;width:94px;height:35px;background-color: #899C88;border:#C5CFC4;color: #E6E6E6;border-radius: 5px;">申请加分</button>
                    <button class="btn" @click="showSelect" style="position: absolute;left: 350px;width: 144px;height:35px;background-color: #899C88;border: #E6E6E6;color: #E6E6E6;border-radius: 5px;">选择加分项到综测</button>
                </div>
                <div v-if="showMode!=true" style="position: absolute;color: #797979;left:20px;top: 150px;">
                    *此处只显示本学期已通过审核的加分项
                </div>
                <div class="table">
                    <el-table style="top: 20px;width: 1250px;" :data="benefits" :fit="true" :show-header="true">
                       
                        <el-table-column prop="benefitTheme" label="加分主题" >
                        </el-table-column>
                        <el-table-column prop="benefitType" label="加分类型" >
                        </el-table-column>
                        <el-table-column prop="benefitPoint" label="奖励分数">
                        </el-table-column>
                        <el-table-column prop="benefitTime" label="奖项时间">
                        </el-table-column>
                        <el-table-column prop="benefitStatus" label="状态" v-if="showMode">
                        </el-table-column>
                        <el-table-column 
                        type="selection" 
                        width="55" 
                        >
                        </el-table-column>
                        
                       
                
        
                    </el-table>
                    <button class="btn" v-if="showMode!=true" @click="input" style="position: absolute;left:1000px;top:300px;width: 125px;height: 35px;background-color: #899C88;border: #C5CFC4;border-radius: 5px;color: #E6E6E6;"> 确认导入综测</button>
                </div>  
            </div>
        </div>

  
        <div class="dialog1">
            <el-dialog title="申请加分" :visible.async="dialogVisible" width="70%" @close="dialogVisible=false">
                <el-form label-width="100px" label-position="left">
                    <el-form-item label="加分主题：">
                       <el-input type="text" v-model.text="currentBenefit.benefitTheme" placeholder="请输入加分主题">
                       </el-input>
                    </el-form-item>
                    <el-form-item label="加分类型：">
                        <el-select v-model="currentBenefit.benefitType" name="types" id="types" >
                            
                            <el-option label="发表学术论文及文学、艺术、新闻等作品(C1)" value="C1"></el-option>
                            <el-option label="科技发明与大学生科研(C2)" value="C2"></el-option>
                            <el-option label="学科竞赛与文体竞赛(C3)" value="C3"></el-option>
                            <el-option label="社会活动与社会时间(C4)" value="C4"></el-option>
                            <el-option label="资格认证及创业(C5)" value="C5"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="奖励分数：">
                        <el-input type="text" v-model.text="currentBenefit.benefitPoint" placeholder="请输入奖励分数">
                        </el-input>
                    </el-form-item>
                    <el-form-item label="奖项时间：">
                        <el-input type="text" v-model.text="currentBenefit.benefitTime" placeholder="请输入奖项时间">
                        </el-input>
                    </el-form-item>
                    <el-form-item label="证明材料：">
                        <!-- <el-upload
                            action="#"
                            :auto-upload="false" :headers="headers"  :file-list="fileList"
                            :on-change="handleChange"
                        >
                            <el-button class="btn"  style="background-color: #899C88;color: #E6E6E6; border: #E6E6E6;border-radius: 5px;">上传</el-button>
                        </el-upload> -->
                        

                        <!-- <el-upload
                        list-type="picture"
                        action=''
                        accept=".jpg, .png"
                        :limit="1"
                        :auto-upload="false"
                        :file-list="fileList"
                        :on-change="getFile"
                        :on-preview="handlePictureCardPreview"
                        :on-remove="handleUploadRemove"
                      >
                        <el-button size="small" style="background-color: #899C88;">选择图片上传</el-button>
                        <div slot="tip" class="el-upload__tip">只能上传一张jpg/png文件</div>
                      </el-upload> -->
                     
                      
                        <input type="file" @change="handleFileUpload" accept="image/*">
                     
                     
                     
                  

                        
                        <!-- <button class="btn" @click="showUpload" style="background-color: #899C88;color: #E6E6E6; width: 50px;height: 30px;border: #E6E6E6;border-radius: 5px;">上传</button> -->
                    </el-form-item>
                    <el-form-item label="备注：">
                        
                        <el-input type="text" v-model.text="currentBenefit.benefitNote" placeholder="请输入备注">
                        </el-input>
                    </el-form-item>
                    <el-form-item style="text-align: right;">
                        <el-button @click="dialogVisible=false" style="background-color: #E6E6E6;border:#797979;" >取 消</el-button>
                        <el-button  @click="confirmUpload" style="background-color:#899C88;border-radius: 5px;">确 定</el-button>
                        
                    </el-form-item>
                </el-form>
            </el-dialog>
    
        </div>
        <div class="dialog2">
            <el-dialog title="导入确认" :visible.async="confirmVisible" width="50%" @close="dialogVisible=false">
                <el-form label-width="100px" label-position="left" style="text-align: center;">
                    确认要导入吗？
                    <el-form-item style="text-align: right;">
                        
                        <el-button @click="confirmVisible=false" style="background-color: #E6E6E6;border:#797979;" >取 消</el-button>
                        <el-button @click="confirmInput" style="background-color:#899C88;border-radius: 5px;">确 定</el-button>
                        
                    </el-form-item>
                </el-form>
            </el-dialog>
        </div>
        
    </div>
</div>
</body>

<!-- import Vue and element-ui -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- import Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    var vue=new Vue({
        el:'#stubenefitPage',
        data:{
            student: {},
            user:{},
            benefits:[],
            extrabenefit:{},
            type:"all",
            status:"all",
            theme:"",
            dialogVisible:false,
            showMode:true,
            selectMode:false,
            confirmVisible:false,
            // uploadMode:false,
            // editMode:true,
            currentBenefit:{"benefitStatus":"待审核","isvalidforthisemester":"true"},
            tableData:[],
            fileList: [],
            // proofImage:"",
            headers: {
                'Content-Type': 'multipart/form-data'
            }
            
            // status:
            // outVisible: false,
            // innerVisible: false,
            // student:""
            
            
        },
      
       
        methods: {
            
            
            handleFileUpload:function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = () => {
                this.currentBenefit.proofFile = reader.result;
                // 在这里可以将base64String传递给其他方法或保存在Vue的数据属性中
            };

            reader.readAsDataURL(file);
            },
        
            input:function()
            {
                this.confirmVisible=true;
            },

           confirmInput:function()
           {
                this.confirmVisible=false;
                window.location.href = '/stu_eva.html?'+'account='+this.user.userId
           },
            addbenefit:function()
            {
                var path='/api/ExtraBenefit'
                this.currentBenefit.stuid=this.student.userId
                axios.post(path,this.currentBenefit).then(responce => {});
                vue.getAllBenefits(this.student.userId)

            },
            getBase64:function(file) {
                return new Promise(function (resolve, reject) {
                    const reader = new FileReader()
                    let imgResult = ''
                    reader.readAsDataURL(file)
                    reader.onload = function () {
                    imgResult = reader.result
                    }
                    reader.onerror = function (error) {
                    reject(error)
                    }
                    reader.onloadend = function () {
                    resolve(imgResult)
                    }
                })
            },

            jump_rules:function(){
                window.location.href = '/extrabenefit_rule.html?'+'account='+this.user.userId
            },
            // onUpload:function(){
            //     let formData=new FormData()
            //     formData.append('file',file.file)
            //     postUpload(formData).then((res)=>{
            //         console.log(res)
            //         this.$message.success(this.$t('UPLOAD_SUCCESS'))
            //     }).catch((e)=>{
            //         this.$message.error(e.message)
            //     })
            // },
            // showUpload:function(){
            //     this.uploadMode=true;
            // },
            showEdit:function(){
                this.dialogVisible = true
                // this.editMode=true;
                // this.currentTodo = Object.assign({},todo)
            },
            showSelect:function()
            {
                this.selectMode=true
                this.showMode=false
                vue.queryBenefitsByStatus();
                
            },
            handleChange:function(file, fileList) { //文件数量改变
					this.fileList = fileList;
				},
            confirmUpload:function() { //确认上传
                var param = new FormData();
                this.fileList.forEach(
                    (val, index) => {
                        param.append("file", val.raw);
                    }
                );

                vue.addbenefit()
                this.$message({
                    message: "上传成功！",
                    duration: 1000
                });
                this.dialogVisible=false;
            },

           
            queryBenefitsByStatus:function()
            {
                var path='/api/ExtraBenefit/query?';
                var estatus=encodeURI("已通过");
                path=path+"status="+estatus;
                axios.get(path)
                .then(response=>this.benefits=response.data)
                .catch(e=>this.$message.error(e.response.data));
            },
            saveBenefit:function(){

            },
            queryBenefits:function(){
                var path='/api/ExtraBenefit/query?';
                if(this.theme!="")
                {
                    if(this.status!="all")
                    {
                        if(this.type!="all")
                        {
                            path=path+"type="+this.type;
                        }
                        var estatus=encodeURIComponent(this.status)
                        path=path+"&status="+estatus;
                    }
                    else
                    {
                        if(this.type!="all")
                        {
                            path=path+"type="+this.type;
                        }
                    }
                    var etheme=encodeURIComponent(this.theme);
                    path=path+"&Btheme="+etheme;
                }
                else
                {
                    if(this.status!="all")
                    {
                        if(this.type!="all")
                        {
                            path=path+"type="+this.type;
                        }
                        var estatus=encodeURIComponent(this.status)
                        path=path+"&status="+estatus;
                    }
                    else
                    {
                        if(this.type!="all")
                        {
                            path=path+"type="+this.type;
                        }
                    }
                }
                axios.get(path)
                .then(response=>this.benefits=response.data)
                .catch(e=>this.$message.error(e.response.data));
             
            },
            getAllBenefits:function(account){
                var path='/api/ExtraBenefit/'+account;
                axios.get(path)
                .then(response=>this.benefits=response.data)
                .catch(e=>this.$message.error(e.response.data))
            },
            getParams : function(){
               var url= location.search
               var theRequest= new Object();
               if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                }
                }
               this.student={userId:theRequest.account};
               vue.getInfo(theRequest.account);
               vue.getUser(theRequest.account);
               vue.getAllBenefits(theRequest.account);
               
            },

            getInfo:function(account){
                var path = '/api/User/stu';
                if(account!=null)path=path+'?id='+account;
                axios.get(path)
                .then(response=>this.student=response.data)
                .catch(e=>this.$message.error(e.response.data))
                
            },
            getUser:function(account){
                var path='/api/User/'+account
                axios.get(path)
                .then(response=>this.user=response.data)
                .catch(e=>this.$message.error(e.response.data))
               
            },
            jump:function(){
                window.location.href = '/stu_selfinfo.html?'+'account='+this.user.userId
                
            }
            
           
        }
    

    })
    vue.getParams();
    
    
 
</script>

</html>